{
 "root": true,
  "extends": ["airbnb-base", "prettier"],
 "env": {
   "browser": true,
    "node": true,
   "es6": true
 },
 "parserOptions": {
   "ecmaVersion": 6,
   "sourceType": "module"
 },
  "plugins": ["prettier"],
 "rules": {
   "prettier/prettier": ["error"],
   "semi": 2
 }
}