.game-container {
  margin: 0 auto;
  position: relative;
  padding: $grid-spacing;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: $game-container-background;
  border-radius: $tile-border-radius * 2;
  width: $field-width;
  height: $field-width;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($tile-color, .5);
    z-index: 100;
    text-align: center;

    .message {
      font-size: 40px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 150px;
    }

    .game-message__player {
      height: 100px;
    }

    a {
      &.btn__playing {
        display: none;
      }
    }

    @include animation(fade-in 800ms ease $transition-speed * 12);
    @include animation-fill-mode(both);

    &.game-won {
      background: rgba($tile-gold-color, .5);
      color: $bright-text-color;

      a.btn__playing {
        display: inline-block;
      }
    }

    &.game-won, &.game-over {
      display: block;
    }
  }

  .game-fight {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($tile-color, .5);
    z-index: 100;
    text-align: center;

    a {
      &.btn__playing {
        display: none;
      }
    }

    @include animation(fade-in 800ms ease $transition-speed * 12);
    @include animation-fill-mode(both);

    &.fight-start {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;
      padding-left: 15px;
      background: rgba($tile-gold-color, .5);
      color: $bright-text-color;

      a.btn__playing {
        display: inline-block;
      }
    }

    &.fight-ends {
      display: none;
    }
  }
}
